/docker/mysql
/hapoLearn/node_modules
/hapoLearn/public/hot
/hapoLearn/public/storage
/hapoLearn/storage/*.key
/hapoLearn/vendor
/hapoLearn.env
/hapoLearn.env.backup
/hapoLearn.phpunit.result.cache
/hapoLearndocker-compose.override.yml
/hapoLearnHomestead.json
/hapoLearnHomestead.yaml
/hapoLearnnpm-debug.log
/hapoLearnyarn-error.log
/hapoLearn/.idea
/hapoLearn/.vscode
/hapoLearn/public/app
/hapoLearn/public/css
/hapoLearn/public/js
/hapoLearn/public/fonts
/hapoLearn/public/images
/hapoLearn.editorconfig
/hapoLearn/docs